#btn_one{
	-fx-background-color: #d3d3d3 ;
}

#btn_two{
	-fx-background-color: #d3d3d3 ;
}

#center_pane{
	-fx-background-color: #ffffff ;
}

#btn_three{
	-fx-background-color: #d3d3d3 ;
}

#btn_four{
	-fx-background-color: #d3d3d3 ;
}

#btn_five{
	-fx-background-color: #d3d3d3 ;
}

#btn_six{
	-fx-background-color: #d3d3d3 ;
}

#btn_seven{
	-fx-background-color: #d3d3d3 ;
}

#btn_eight{
	-fx-background-color: #d3d3d3 ;
}

#btn_nine{
	-fx-background-color: #d3d3d3 ;
}

#btn_zero{
	-fx-background-color: #d3d3d3 ;
}

#btn_add{
	-fx-background-color: #d3d3d3 ;
}

#btn_subtract{
	-fx-background-color: #d3d3d3 ;
}

#btn_multiply{
	-fx-background-color: #d3d3d3 ;
}

#btn_equals{
	-fx-background-color: #d3d3d3 ;
}

#btn_decimal{
	-fx-background-color: #d3d3d3 ;
}

#btn_clear{
	-fx-background-color: #d3d3d3 ;
}

#btn_bksp{
	-fx-background-color: #d3d3d3 ;
}

#label_num1{
	-fx-background-color: #7fffd4 ;
}

#label_num2{
	-fx-background-color: #7fffd4 ;
}

#label_result{
	-fx-background-color: #7fffd4 ;
}