#category_list_root{
		-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 1);
		-fx-background-color: #fff;
}

#clist_head{
		-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 1);
		-fx-background-color: #fff;
}